Options -Indexes
RewriteEngine On

ErrorDocument 400 /error.php?id=400
ErrorDocument 401 /error.php?id=401
ErrorDocument 402 /error.php?id=402
ErrorDocument 403 /error.php?id=403
ErrorDocument 404 /error.php?id=404
ErrorDocument 405 /error.php?id=405
ErrorDocument 500 /error.php?id=500
ErrorDocument 501 /error.php?id=501
ErrorDocument 502 /error.php?id=502
ErrorDocument 503 /error.php?id=503
ErrorDocument 504 /error.php?id=504
ErrorDocument 505 /error.php?id=505

#pls un-comment in prod !!!
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^creer_enonce$  ?page=creer_enonce [L]
RewriteRule ^creer_champ$  ?page=creer_champ [L]
RewriteRule ^liste_enonces$  ?page=liste_enonces [L]
RewriteRule ^liste_enonces/([0-9]*)/([a-z]*)$  ?page=liste_enonces&id=$1&action=$2 [L]
RewriteRule ^liste_champs$  ?page=liste_champs [L]
RewriteRule ^liste_champs/(.*)/([a-z]*)$  ?page=liste_champs&name=$1&action=$2 [L]
RewriteRule ^liste_enonces_generes$  ?page=liste_enonces_generes [L]
RewriteRule ^liste_enonces_generes/([0-9]*)/([a-z]*)$  ?page=liste_enonces_generes&id=$1&action=$2 [L]
RewriteRule ^liste_images$  ?page=liste_images [L]
RewriteRule ^liste_images/(.*)/([a-z]*)$  ?page=liste_images&name=$1&action=$2 [L]

Redirect /author https://alexgr.be