header {
    padding: 121px 0 65px;
}

section {
    padding: 100px 0;
}

.enonce {
    background-color: #A4A4A4FF;
    border: 1px solid #737373;
    border-radius: 8px;
}

img.img-enonce {
    height: 300px;
    width: auto;
    display: block;
    border: 1px solid #737373;
    border-radius: 8px;
}